/* ===== 폰트 설정 ===== */
@font-face {
    font-family: 'DungGeunMo';
    src: url('https://fastly.jsdelivr.net/gh/projectnoonnu/noonfonts_six@1.2/DungGeunMo.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
@import url('//spoqa.github.io/spoqa-han-sans/css/SpoqaHanSansNeo.css');

tml, body {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    word-break: keep-all;
    overflow-wrap: break-word;
}