/* ===== 폰트 설정 ===== */
@font-face {
    font-family: 'DungGeunMo';
    src: url('https://fastly.jsdelivr.net/gh/projectnoonnu/noonfonts_six@1.2/DungGeunMo.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
@import url('//spoqa.github.io/spoqa-han-sans/css/SpoqaHanSansNeo.css');

/* 기본 스타일 (모바일 기준) */

html, body {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
}

.overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
    opacity: 0;
    pointer-events: none;
    transition: opacity 0.3s ease;
    z-index: 1000;
}

.overlay.show {
    opacity: 1;
    pointer-events: auto;
}

.container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    width: 100vw;
    height: 100vh;
    max-width: 640px;
    min-width: 360px;
    background: #ECD4AD;
    overflow: hidden;
    gap: 4px;
    font-family: 'Jersey 25', 'DungGeunMo', sans-serif;
}

.header {
    display: flex;
    flex-direction: column;
    flex-shrink: 0;
    justify-content: center;
    align-items: center;
    width: 97%;
    height: 120px;
    max-width: 640px;
    min-width: 300px;
    background: #ECD4AD;
    box-sizing: border-box;
    padding: 8px;
    position: relative;
    z-index: 1;
    border: 8px solid transparent;
    border-image: url('assets/images/contentMainBg.png');
    border-image-slice: 20 fill;
    border-image-width: 8px;
    margin: 8px;
    margin-bottom: 0;
}

.header-logo {
    display: flex;
    align-items: center;
    width: 100%;
    gap: 8px;
    padding: 8px 12px 8px 0px;
}

.logo-icon {
    font-size: 20px;
    padding: 4px;
    padding-bottom: 0px;
}

.logo-text {
    font-size: 24px;
    font-weight: 700;
    padding: 4px;
    padding-bottom: 0px;
    font-weight: 300;
}

.status-bar {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-end;
    gap: 4px;
    padding: 0px 2px 8px 0;
    width: 100%;
}

.status-item {
    display: flex;
    flex-direction: column;
    align-items: left;
    padding: 4px 12px;
    gap: 2px;
    border: 8px solid transparent;
    border-image: url('assets/images/statusItemBg.png');
    border-image-slice: 20 fill;
    border-image-width: 8px;
}

.name {
    font-weight: 700;
    font-size: 14px;
    line-height: 18px;
    color: #000;
}

.value {
    font-weight: 400;
    font-size: 14px;
    line-height: 20px;
    letter-spacing: 0.2px;
    color: #000;
}

.contents {
    max-width: 640px;
    min-width: 360px;
    width: 100%;
    display: flex;
    flex: 1;
    min-height: 0;
    overflow: hidden;
    flex-direction: column;
    background: #ECD4AD;
    position: relative;
    box-sizing: border-box;
    z-index: 0;
    padding: 0 8px;
}

.content-main {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 8px 12px;
    height: 100%;
    border: 8px solid transparent;
    border-image: url('assets/images/contentMainBg.png');
    border-image-slice: 20 fill;
    border-image-width: 8px;
    z-index: 2;
}

.bg-container {
    background: #ECD4AD;
    width: 100%;
    height: 100%;
    border-radius: 8px;
    border: 3px solid #54575C;
    z-index: 3;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

.text-box {
    width: 70%;
    margin: 0 auto;
    background: rgba(0, 0, 0, 0.6);
    border-radius: 8px;
    padding: 12px;
    font-size: 16px;
    line-height: 24px;
    color: #fff;
    z-index: 5;
    display: flex;
    align-items: center;
    justify-content: center;
}

.narration {
    position: absolute;
    top: 16px;
    height: 40px;
    font-size: 12px;
    line-height: 16px;
    text-align: center;
}

.dialogue {
    position: absolute;
    bottom: 40px;
    display: flex;
    flex-direction: column;
    height: 80px;
}

.dialogue-container {
    display: flex;
    width: 90%;
    height: 100%;
    justify-content: space-between;
    align-items: center;
    gap: 4px;
}

.speaker {
    font-size: 16px;
    font-weight: 700;
}

.text {
    font-size: 13px;
}

#next-btn {
    font-size: 20px;
    cursor: pointer;
}

.hidden {
    display: none !important;
}

.overlay-image {
    position: fixed;
    top: 50%;
    transform: translateX(-50%) translateY(-50%);
    width: 80%;
    aspect-ratio: 4 / 3;
    background: #fff;
    border: 4px solid #54575C;
    border-radius: 12px;
    overflow: hidden;
    z-index: 10;
}

.popup {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translateX(-50%) translateY(-50%);
    width: 80%;
    background: #fff;
    border: 8px solid #54575C;
    border-image: url('assets/images/contentMainBg.png');
    border-image-slice: 20 fill;
    border-image-width: 8px;
    overflow: hidden;
    z-index: 9999;
}

.popup-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 12px 16px;
    background: #ECD4AD;
    border-bottom: 2px solid #C7A880;
}

.popup-header-title {
    font-weight: 700;
    font-size: 16px;
}
  
.popup-header-close-btn {
    cursor: pointer;
    font-weight: 700;
}
  
.popup-content {
    gap: 4px;
    padding: 24px 24px;
    height: 100%;
    background: #FFF1D4;
}
  
.popup-content-text {
    font-size: 13px;
    line-height: 15px;
    margin-bottom: 24px;
}

.popup-content-text p {
    margin-top: 2px;
    margin-bottom: 2px;
}

.popup-content-text p:first-child {
    margin-top: 0;
}

.popup-content-text p:last-child {
    margin-bottom: 0;
}
  
.popup-content-btn-group {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    gap: 8px;
  }
  
.popup-content-btn {
    font-size: 12px;
    padding: 8px 4px;
    background: #C7A880;
    text-align: center;
    border-radius: 8px;
    cursor: pointer;
    font-weight: 700;
    flex: 1
}

.button {
    font-size: 16px;
    font-weight: 700;
    padding: 12px 16px;
    background: #ECD4AD;
    border: 2px solid #C7A880;
    border-radius: 8px;
    cursor: pointer;
}

.quest {
    display: flex;
    max-width: 640px;
    min-width: 300px;
    flex-shrink: 0;
    height: 140px;
    justify-content: flex-start;
    flex-direction: row;
    align-items: flex-start;
    padding: 12px 16px 64px;
    gap: 16px;
    width: 97%;
    box-sizing: border-box;
    border: 8px solid transparent;
    border-image: url('assets/images/contentMainBg.png');
    border-image-slice: 20 fill;
    border-image-width: 8px;
    margin: 8px;
    margin-top: 0;
    z-index: 1;
}

.quest-title {
    font-weight: 700;
    font-size: 14px;
    line-height: 20px;
    color: #000;
}

.quest-list {
    font-weight: 400;
    font-size: 13px;
    line-height: 20px;
    letter-spacing: 0.2px;
    color: #000;
}

.dictionary-panel {
    position: fixed;
    bottom: 0;
    left: 50%;
    width: 90%;
    height: 480px;
    border: 4px solid transparent;
    border-image: url('assets/images/dictionnaryBg.png');
    border-image-slice: 20 fill;
    border-image-width: 4px;
    transform: translateX(-50%) translateY(calc(100% - 55px));
    transition: transform 0.5s cubic-bezier(0.68, -0.55, 0.27, 1.55);
    box-sizing: border-box;
    z-index: 9999;
    display: flex;
    flex-direction: column;
    box-shadow: 0px 4px 12px rgba(0, 0, 0, 0.4);
}

.dictionary-panel-header {
    border: 4px solid transparent;
    border-image: url('assets/images/dictionnaryHeaderBg.png');
    border-image-slice: 20 fill;
    border-image-width: 4px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    height: 40px;
    padding: 4px 12px 6px;
    font-family: 'DungGeunMo';
    font-size: 16px;
    font-weight: 700;
    cursor: pointer;
    z-index: 10000;
}

.dictionary-panel.open {
    transform: translateX(-50%) translateY(10%);
}

.dictionary-panel-content {
    display: flex;
    flex: 1;
    flex-direction: column;
    margin-top: 8px;
    padding: 12px 16px;
    font-size: 14px;
    overflow: hidden;
}

#dictionary-search {
    background: transparent;
    width: 100%;
    padding: 8px 8px;
    margin-bottom: 12px;
    border: 8px solid transparent;
    border-image: url('assets/images/inputBoxBg.png');
    border-image-slice: 20 fill;
    border-image-width: 8px;
    font-family: 'Jersey 25', 'DungGeunMo';
    font-size: 16px;
    box-sizing: border-box;
}

.dictionary-list {
    display: flex;
    flex: 1;
    flex-direction: column;
    gap: 8px;
    overflow-y: auto;
}

.card {
    border: 8px solid transparent;
    border-image: url('assets/images/statusItemBg.png');
    border-image-slice: 20 fill;
    border-image-width: 8px;
    padding: 4px 12px;
    font-weight: 600;
    cursor: pointer;
    user-select: none;
}

.dictionary-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
    opacity: 0;
    pointer-events: none;
    transition: opacity 0.3s ease;
    z-index: 1000;
}

.dictionary-overlay.show {
    opacity: 1;
    pointer-events: auto;
}

.intro-screen {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 24px 24px;
}

.main-title {
    border: 8px solid transparent;
    border-image: url('assets/images/statusItemBg.png');
    border-image-slice: 20 fill;
    border-image-width: 8px;
    font-weight: 400;
    font-size: 22px;
    width: 90%;
    text-align: center;
    padding: 8px 12px;
}

.description {
    border: 8px solid transparent;
    border-image: url('assets/images/statusItemBg.png');
    border-image-slice: 20 fill;
    border-image-width: 8px;
    width: 90%;
    padding: 8px 12px;
    font-size: 13px;
    text-align: left;
    line-height: 16px;
    margin-bottom: 24px;
}

.name-input-box {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
}

.name-input-box label {
    font-weight: 600;
    font-size: 16px;
    width: 100%;
    text-align: center;
}

.name-input-box-group {
    display: flex;
    flex-direction: row;
    gap: 4px;
    width: 100%;
}

.name-input-box-group input {
    font-family: 'Jersey 25', 'DungGeunMo';
    font-size: 16px;
    padding: 4px 8px;
    background: transparent;
    border: 8px solid transparent;
    border-image: url('assets/images/inputBoxBg.png');
    border-image-slice: 20 fill;
    border-image-width: 8px;
    margin: 0;
    flex: 1;
}

.name-input-box-group button {
    font-family: 'Jersey 25', 'DungGeunMo';
    font-size: 14px;
    font-weight: 500;
    width: 100px;
    flex-shrink: 0;
    padding: 4px;
    border: 8px solid transparent;
    border-image: url('assets/images/contentMainBg.png');
    border-image-slice: 20 fill;
    border-image-width: 8px;
    background: #ECD4AD;
    cursor: pointer;
    margin: 0;
}

.name-input-box-group button:hover {
    background: #C7A880;
}

.content-html-container {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    z-index: 99;
    overflow-y: auto;
}

.hotel-content-wrap {
    display: flex;
    flex-direction: column;
    width: 90%;
    height: 100%;
    padding: 8px;
    align-items: center;
    gap: 8px;
    justify-content: space-between;
    overflow-x: hidden;
}

.hotel-card-container {
    display: flex;
    flex-direction: column;
    width: 100%;
    align-items: center;
    padding: 8px;
    gap: 8px;
    justify-content: center;
}

.hotel-card {
    display: flex;
    flex-direction: row;
    width: 80%;
    align-items: center;
    justify-content: center;
    background: #fff;
    border: 3px solid #54575C;
    border-radius: 8px;
    gap: 8px;
    padding: 8px;
}

.hotel-card.selected {
    border: 3px solid #F19B0F;
    box-shadow: 0 0 14px rgba(0, 0, 0, 0.3);
}

.hotel-card-content {
    display: flex;
    flex-direction: column;
    flex: 1;
    justify-content: center;
    align-items: flex-start;
    gap: 2px;
}

.hotel-card-texts {
    display: flex;
    flex-direction: column;
    text-align: left;
}

.view-details {
    width: 100%;
    font-size: 13px;
    padding: 4px 0;
    text-align: center;
    cursor: pointer;
}

.reservation-actions {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.confirm-reservation {
    width: 90%;
}

.hotel-card-texts h3 {
    font-size: 13px;
    margin-bottom: 0;
}

.hotel-card-texts p {
    font-size: 12px;
    margin-top: 0;
}

.hotel-card img {
    flex-shrink: 0;
    width: 40%;
    height: 100%;
    object-fit: cover;
    border-radius: 8px;
}


/* 데스크탑 대응 (640px 이상) */
@media (min-width: 640px) {

    .container {
        min-width: 640px;
        max-width: 1960px;
        gap: 12px;
    }

    .header {
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        width: 100%;
        max-width: 720px;
        min-width: 640px;
        height: 100px;
        padding: 12px;
        border-width: 10px;
        border-image-slice: 24 fill;
        border-image-width: 10px;
    }
    
    .header-logo {
        align-items: center;
    }
    
    .logo-icon {
        font-size: 20px;
        padding: 8px;
    }
    
    .logo-text {
        font-size: 24px;
        padding: 8px 2px;
    }

    .status-bar {
        justify-content: flex-end;
        padding: 0;
                border-width: 10px;
        border-image-slice: 24 fill;
        border-image-width: 10px;
    }
    
    .status-item {
        padding: 8px;
    }
    
    .name {
        font-size: 14px;
        line-height: 22px;
    }
    
    .value {
        font-size: 14px;
        line-height: 22px;
    }

    .contents {
        max-width: 720px;
        min-width: 640px;
    }
    
    .content-main {
        padding: 12px 12px;
        height: 100%;
        border-width: 10px;
        border-image-slice: 24 fill;
        border-image-width: 10px;
    }

    .text-box {
        width: 85%;
        padding: 16px;
        font-size: 18px;
    }
    
    .narration {
        font-size: 16px;
        line-height: 20px;
    }

    .speaker {
        font-size: 16px;
    }

    .text {
        font-size: 14px;
    }

    #next-btn {
        font-size: 20px;
    }

    .overlay-image {
        width: 50%;
    }

    .popup {
        width: 40%;
    }
    
    .popup-header {
        padding: 14px 18px;
    }
    
    .popup-header-title {
        font-size: 18px;
    }
      
    .popup-header-close-btn {  
        font-size: 20px;
    }
      
    .popup-content {
        padding: 16px;
        height: 100%;
        font-size: 16px;
    }
      
    .popup-content-text {
        margin-bottom: 28px;
    }

    .popup-content-btn {
        padding: 12px;
        font-size: 16px;
    }

    .quest {
        max-width: 720px;
        min-width: 640px;
        height: 120px;
        width: 100%;
        border-width: 10px;
        border-image-slice: 24 fill;
        border-image-width: 10px;
        padding: 12px 24px 32px;
        gap: 24px;
    }
    
    .quest-title {
        font-size: 16px;
    }
    
    .quest-list {
        font-size: 14px;
    }

    .dictionary-panel {
        right: 0;
        width: 40%;
        transform: translateX(20%) translateY(calc(100% - 65px));
        border-width: 5px;
        border-image-slice: 24 fill;
        border-image-width: 5px;
    }
    
    .dictionary-panel-header {
        height: 40px;
        padding: 6px 24px 8px;
        font-size: 16px;
        border-width: 5px;
        border-image-slice: 24 fill;
        border-image-width: 5px;
    }
    
    .dictionary-panel.open {
        transform: translateX(20%) translateY(10%);
    }
    
    .dictionary-panel-content {
        padding: 16px 18px;
        font-size: 16px;
    }
    
    #dictionary-search {
        padding: 12px 18px;
    }
    
    .card {
        padding: 8px 16px;
    }

    .hotel-content-wrap {
        padding: 32px 24px;
    }
    
    .hotel-card-container {
        flex-direction: row;
        justify-content: space-evenly;
        height: 80%;
        gap: 24px;
    }
    
    .hotel-card {
        height: 80%;
        flex-direction: column;
        padding: 12px;
    }
    
    .hotel-card-texts {
        text-align: center;
    }

    .hotel-card-content {
        width: 100%;
    }
    
    .view-details {
        font-size: 14px;
    }
    
    .hotel-card-texts h3 {
        font-size: 16px;
    }
    
    .hotel-card-texts p {
        font-size: 14px;
        margin-top: 0;
    }
    
    .hotel-card img {
        width: 100%;
        height: 60%;
    }

    .main-title {
        border-width: 10px;
        border-image-slice: 24 fill;
        border-image-width: 10px;
        font-size: 24px;
    }
    
    .description {
        border-width: 10px;
        border-image-slice: 24 fill;
        border-image-width: 10px;
        font-size: 14px;
        line-height: 18px;
        margin-bottom: 24px;
        padding-top: 16px;
        padding-bottom: 16px;
    }
    
    .name-input-box label {
        font-weight: 600;
        font-size: 18px;
    }
    
    .name-input-box-group {
        gap: 12px;
        width: 80%;
    }
    
    .name-input-box-group input {
        font-size: 18px;
        padding: 6px 12px;
        border-width: 10px;
        border-image-slice: 24 fill;
        border-image-width: 10px;
    }
    
    .name-input-box-group button {
        font-size: 16px;
        width: 160px;
        padding: 6px 12px;
        border-width: 10px;
        border-image-slice: 24 fill;
        border-image-width: 10px;
    }
}